@import '../../../assets/scss/foundation/settings.scss';

header {
  .menu-text a {
    display: inline;
    color: $black;
  }

  a.is-active {
    color: $menu-item-color-active;
    background-color: $menu-item-background-active;
  }
}
